<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre - Registrarse</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/theme.css" />

  <link href="css/normalize.css" rel="stylesheet" />
  <link href="css/theme.css" rel="stylesheet" />
</head>
</head>
<body class="bg-light-grey">
  <header>
    <form action="/" method="get">
      <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" />
      </div>

      <div>
        <label for="nombre">Nombre de usuario: </label>
        <input type="text" name="nombre de usuario" id="nombre de usuario" />
      </div>

      <div>
        <label for="fecha">Fecha de nacimiento: </label>
        <input type="date" name="fecha de nacimiento" id="fecha de nacimiento" />
      </div>

      <div>
        <label for="domicilio">Nombre: </label>
        <input type="text" name="domicilio" id="domicilio" />
      </div>

      <div>
        <label>Perfil de usuario
        <input type= "radio" name="perfil de usuario" value="Comprar">Comprar</input>
        <input type= "radio" name="perfil de usuario" value="Venderr">Vender</input>
        </label>
      </div>

      <div>
        <label>Categorias de Interes
                <input type="checkbox" name="categoria" value="Electro" >Electro</input>
                <input type="checkbox" name="categoria" value="Moda">Moda</input>
                <input type="checkbox" name="categoria" value="Hogar" >Hogar</input>
                <input type="checkbox" name="categoria" value="Juguetería" >Juguetería</input>
                <input type="checkbox" name="categoria" value="Vida sana" >Vida sana</input>
        </label>
      </div>

      <div>
        <label>Foto de usuario
                
        </label>
      </div>

      <div>
        <label>Contraseña
                
        </label>
      </div>      


    </form>

    <main>
      <h1>
        Esto es "register"
      </h1>
    </main>
  
</body>
</html>



    
  
