<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
  </head>
  <body>
    <header></header>

    <main>
      <article>
        <img
          width="90%"
          src="/images/bici-electrica-tourism.jpg"
          alt="Bicicleta Tourism"
        />
        <div>
          <h3>Bicicleta Electrica Tourism</h3>
          <p>Batería: LG 36V/9.6 AH | 345 Watts | Litio</p>
          <p>Frenos: De disco, delantero y trasero | Tektro, Aries</p>
          <p>Display: Verificá toda la información</p>
          <p>Cambios: Shimano Tourney 6</p>
          <p>Niveles de asistencia: 6</p>
          <p>Peso: 20kg</p>
          <p>Rodado:20"</p>
          <p>Autonomía:35 km./45 km</p>
          <p>Cuadro: Aleación de aluminio | Plegable</p>
          <p>Accesorios: Guardabarros, Portaequipajes, Bocina</p>
          <p>Luces: Delanteras y traseras</p>
          <p>Conexiones: Puerto USB</p>
        </div>
      </article>

      <article>
        <img
          width="90%"
          src="/images/bici-electrica-mountain-bike.jpg"
          alt="Bicicleta Mountain Bike"
        />
        <div>
          <h3>Bicicleta Mountain Bike</h3>
          <p>Batería: LG 36V/13 AH | 468 Watts | Litio</p>
          <p>
            Frenos: De disco 180mm, delantero y trasero Hidraulico | Shimano
          </p>
          <p>Display: Verificá toda la información</p>
          <p>Cambios: Shimano Acera 27V</p>
          <p>Motor: Bafang 350W con sensor de velocidad</p>
          <p>Niveles de asistencia: 6</p>
          <p>Autonomía: 35 km./45 km</p>
          <p>Peso: 24kg</p>
          <p>Rodado:29"</p>
          <p>Cuadro: Aleación de aluminio</p>
          <p>Accesorios: Grip con mancuernas</p>
          <p>Asiento: Carrera Velo</p>
          <p>Llantas: Aro doble pared reforzado</p>
          <p>Conexiones: Puerto USB</p>
          <p>Cubiertas: Schwalbe</p>
          <p>Manubrio: Recto de mountain bike</p>
        </div>
      </article>

      <article>
        <img
          width="90%"
          src="/images/mono-electrico.jpg"
          alt="Monopatín Eléctrico"
        />
        <div>
          <h3>Monopatín Eléctrico</h3>
          <p>Cuadro: Aleación de aluminio | Plegable</p>
          <p>Batería: Samsung, 36V/13AH | 468 Watts l Litio</p>
          <p>Freno: De disco delantero, hidráulico trasero</p>
          <p>Display: Verificá toda la información</p>
          <p>Motor: 350W</p>
          <p>Velocidad: 25 Km/h</p>
          <p>Niveles de asistencia: 5</p>
          <p>Autonomía: 35 Km</p>
          <p>Peso: 17 Kg</p>
          <p>Rodado: 10"</p>
          <p>Accesorios: Guardabarros y bocina</p>
          <p>Conexiones: Puerto USB</p>
          <p>Colores: Blanco y negro</p>
        </div>
      </article>

      <article>
        <img
          width="90%"
          src="/images/bici-electrica-cortina.jpg"
          alt="Bicicleta Eléctrica Cortina"
        />
        <div>
          <h3>Bicicleta Eléctrica Cortina</h3>
          <p>Batería: LG 36V/10.4 AH | 374.4 Watts | Litio</p>
          <p>Frenos: V Brake, delantero y trasero</p>
          <p>Display: Verificá toda la información</p>
          <p>Cambios: Acera 24V</p>
          <p>Motor: Bafang 350W con sensor de velocidad</p>
          <p>Niveles de asistencia: 6</p>
          <p>Autonomía: 35 km./45 km</p>
          <p>Peso: 24kg</p>
          <p>Rodado: 28"</p>
          <p>Cuadro: Aleación de aluminio</p>
          <p>Accesorios: Guardabarros, Portaequipajes, Bocina</p>
          <p>Luces: Delanteras y traseras</p>
          <p>Conexiones: Puerto USB</p>
          <p>Asiento: Confortable ancho con gel</p>
          <p>Llantas: Aro doble pared reforzada</p>
          <p>Manubrio: Regulable en altura</p>
          <p>Cubiertas: Schwalbe</p>
        </div>
      </article>

      <article>
        <img width="50%" src="/images/skateboard.jpg" alt="Skateboard" />
        <div>
          <h3>Combo Skateboard</h3>
          <p>Madera: Maple económico</p>
          <p>Casco</p>
          <p>Llave: T</p>
          <p>Protecciones: SM/ML</p>
          <p>
            Tabla: cóncava con doble kick, compuesto por 7 laminas de madera y
            resina epoxi
          </p>
          <p>Bujes: 95 A. Rulemanes Abec 9</p>
          <p>Ruedas: de Uretano 54 mm</p>
          <p>Truck: reforzados de aluminio</p>
        </div>
      </article>

      <article>
        <img width="80%" src="/images/hoverboard.jpg" alt="Hoverboard" />
        <div>
          <h3>Hoverboard</h3>
          <p>Luces: LED</p>
          <p>Accesorio: Bluetooth para música</p>
          <p>
            Colores: Jet Black, Blue Raspberry, Candy Apple Red y Glacier White
          </p>
          <p>Neumático: 6.5 pulgadas</p>
          <p>Velocidad máxima: 10 km/h</p>
          <p>Alcance superior: 20 km</p>
          <p>Capacidad máxima: 100 kg</p>
          <p>Peso mínimo: 20 kg</p>
          <p>Batería: Extra Premium litio-ion</p>
          <p>Duración de la batería: 5-6 horas</p>
          <p>Tiempo de carga de la batería: 60-90 minutos</p>
          <p>Energía de la batería: 44,000 mAh</p>
          <p>Motor: 350w</p>
          <p>Voltaje: 36v</p>
          <p>Ángulo de pendiente máxima: 30°</p>
          <p>Peso: 13 kg</p>
        </div>
      </article>
    </main>

    <!-- Para la casa -->
    <footer class="p-8"></footer>
  </body>
</html>
